body { 
background-color:#ff9100;
} 

h1{ 
    font-size: 40px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold; 
    color: #00ff6a;
} 

li{ 
    font-size: 18px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

p{ 
    font-size: 18px; 
    color: #3b20b4;
}